@import url(article.css);
@import url(header.css);
@import url(language-navigation.css);
@import url(headingType.css);
@import url(button.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Source+Serif+Pro&display=swap');

:root {
    --black: #202020;
    --darkBlack: #000000;
    --darkGrey: #909090;
    --grey: #EBEBEB;
    --lightGrey: #F7F7F7;
    --white: #FFFFFF;
    --yellow: #FFEA00;
    --lightYellow: #FFEB00;
    --darkYellow: #F5E200;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.none {
    display: none;
}



/* *****************************  RESPONSIVE  ***************************** */



@media (max-width: 1200px) {
    .nav-top-main {
        width: 940px;
    }
    .header-content {
        width: 940px;
    }
    .menu-text {
        padding: 15px 10px 13px 10px;
        margin-left: 4px;
    }
    .main-img {
        display: flex;
        justify-content: center;
    }
    .main-image-description {
        width: 874px;
    }
    .main-img-block-text {
        line-height: 30px;
    }
    .slide {
        width: 940px;
    }
    .last-article-content {
        width: 940px;
    }
    .recent-article-name {
        width: 940px;
    }
    .article-content {
        width: 940px;
        display: flex;
        flex-wrap: wrap;
    }
    .main-article {
        width: 300px;
        margin-bottom: 20px;
    }
    .main-article img {
        width: 300px;
    }
    .main-article:nth-child(3n) {
        margin-right: 0;
    }
    .main-article:nth-child(4n) {
        margin-right: 20px;
    }
    .main-article-img {
        width: 572px;
    }
    .article-description {
        height: 389.05px;
    }
    .article-list-title {
        width: 940px;
    }
    .explore-all-btn {
        width: 940px;
    }
    .main-line2 {
        width: 940px;
    }
    .sign-up-content {
        width: 940px;
    }
    .sign-up-description {
        height: 204px;  
    }
    .sign-up-title {
        margin: 14px 0 0 40px;
    }
    .sign-up-btn {
        margin-top: 14px;
    }
    .main-footer  {
        width: 940px;
    }
   
}

@media (max-width: 992px) {
    .nav-top-main {
        width: 707px;
    }
    .header-content {
        width: 707px;
    }
    .main-img {
        display: flex;
        flex-direction: column;
    }
    .main-image-description {
        width: 707px;
        padding: 24px 0 20px 0;
        position: relative;
        margin: 0 auto;
    }
    .slide {
        width: 707px;
    }
    .last-article {
        width: 707px;
        margin: 66px auto 0 auto;
    }
    .main-article {
        width: 333.5px;
    }
    .main-article:nth-child(odd) {
        margin-right: 40px;
    }
    .main-article:nth-child(even) {
        margin-right: 0;
    }
    .main-article img {
        width: 333.5px;
    }
    .last-article-content {
        width: 707px;
        display: flex;
        flex-direction: column-reverse;
    }
    .article-img {
        width: 707px;
        height: 480.88px;
    }
    .main-article-img {
        width: 100%;
    }
    .article-text {
        width: 100%;
    }
    .article-text {
        width: calc(100% - 40px);
    }
    .article-description {
        width: 707px;
        height: 320px;
    }
    .recent-article-name {
        width: 707px;
    }
    .article-content {
        width: 707px;
    }
    .article-list-title {
        width: 707px;
    }
    .explore-all-btn {
        width: 707px;
    }
    .main-line2 {
        width: 707px;
    }
    .sign-up-content {
        width: 707px;
        display: flex;
        flex-direction: column;
    }
    .sign-up-img {
        height: 414.44px;
    }
    .sign-up-img img {
        width: 100%;
    }
    .sign-up-description {
        width: auto;
    }
    .sign-up-title {
        margin: 20px 0 0 40px;
    }
    .sign-up-btn {
        margin: 34px 0 0px 40px;
    }
    .footer-top-right {
        display: flex;
    }
    .footer-menu-content {
        padding: 0;
        margin: 0;
    }
    .made-by {
        margin-top: 40px;
    }
    .main-footer  {
        width: 707px;
    }
    .footer-top-right {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .nav-top-main {
        width: 526px;
    }
    .header-content {
        width: 526px;
    }
    .menu-content {
        display: none;
    }
    .burger {
        display: flex;
    }
    .main-image-description {
        width: 526px;
    }
    .slide {
        width: 526px;
        display: flex;
        align-items: center;
    }
    .last-article {
        width: 100%;
        margin: 20px 0 0 0;
    }
    .last-article-content {
        width: 526px;
        margin: 0 auto;
    }
    .article-img {
        width: 526px;
        height: 357.77px;
    }
    .article-description {
        width: 526px;
    }
    .article-text {
        height: min-content;
    }
    .main-article {
        width: 255.5px;
    }
    .main-article:nth-child(odd) {
        margin-right: 15px;
    }
    .main-article img {
        width: 255.5px;
    }
    .article-text p {
        line-height: 20px;
    }
    .recent-article-name {
        width: 526px;
    }
    .article-content {
        width: 526px;
    }
    .article-list-title {
        width: 526px;
    }
    .explore-all-btn {
        width: 526px;
    }
    .main-line2 {
        width: 526px;
    }
    .sign-up-description {
        height: 280px;
    }
    .sign-up-content {
        width: 526px;
    }
    .sign-up-img {
        height: 308.34px;
    }
    .main-footer  {
        width: 526px;
    }
    .footer-menu {
        display: none;
    }
}

@media (max-width: 576px) {
    .nav-top {
        width: 100%;
    }
    .nav-top-main a {
        margin-right: 10px;
    }
    .nav-top-main {
        display: flex;
        justify-content: space-between;
        width: 320px;
    }
    .account {
        margin: 0 0 0 10px;
    }
    .nav-menu {
        height: 100px;
    }
    .header-content {
        height: 100px;
        width: 320px;
    }
    .logo {
        width: 70px;
        height: auto;
    }
    .header-content {
        display: flex;
        align-items: center;
    }
    .header-content a {
        margin-left: 10px;
        height: 31px;
    }
    input[type="text"] {
        width: 129px;
        padding: 10px 41px 10px 10px;
    }
    .menu {
        height: 38px;
    }
    .input {
        width: 180px;
        height: 38px;
    }
    .input img {
        padding: 10px 10px 10px 0;
    }
    .burger {
        margin: 0 10px 0 10px;
    }
    .main-image-description {
        width: 280px;
        padding: 24px 20px 20px 20px;
    }
    .main-image-description h1 {
        font-size: 34px;
        line-height: 40px;
    }
    .main-image-description p {
        margin-top: 10px;
        font-size: 16px;
        line-height: 22px;
    }
    .slide {
        width: 300px;
        display: flex;
        align-items: center;
    }
    .last-article {
        width: 100%;
    }
    .article-img {
        width: 320px;
        height: 217.77px;
    }
    .last-article-content {
        width: 320px;
    }
    .article-description {
        width: 320px;
        height: 330px;
    }
    .article-title {
        margin-top: 0;
    }
    .article-title h2 {
        margin-bottom: 0;
    }
    .article-main-title {
        margin-top: 8px;
    }
    .main-article {
        width: 280px;
    }
    .main-article img {
        width: 280px;
        height: auto;
    }
    .article-main-title h3 {
        line-height: 32px;
    }
    .article-text {
        margin-top: 8px;
    }
    .recent-article-name {
        width: 320px;
        display: flex;
        justify-content: center;
        padding-top: 28px;
    }
    .main-article:nth-child(odd) {
        margin-right: 0;
    }
    .article-content {
        width: 320px;
        display: flex;
        justify-content: center;
    }
    .title {
        width: min-content;
        white-space: nowrap;
    }
    .article-list-title {
        width: 320px;
        padding-top: 28px;
        display: flex;
        justify-content: center;
    }
    .articles {
        margin-bottom: 20px;
    }
    .explore-all {
        height: 48pxpx;
    }
    .explore-all-btn {
        width: 280px;
        height: 48px;
        margin-bottom: 0;
    }
    .main-line2 {
        width: 320px;
    }
    .sign-up {
        margin: 0;
    }
    .sign-up-img {
        height: 187.34px;
    }
    .sign-up-content {
        width: 320px;
    }
    .sign-up-title {
        margin: 10px 0 0 20px;
    }
    .sign-up-title h1 {
    font-size: 34px;
    line-height: 40px;
    }
    .sign-up-text {
        margin: 10px 20px 0 20px;
    }
    .sign-up-text p {
        font-size: 16px;
        line-height: 22px;
    }
    .sign-up-description {
        height: 320px;
    }
    .sign-up-btn {
        margin: 24px 0 0 20px;
    } 
    .sign-up-btn button {
        margin: 0;
        width: 280px;
    }
    input[type="email"] {
        width: 240px;
        margin-bottom: 10px;
    }
    footer {
        height: 160px;
        margin-top: 0;
    }
    .main-footer  {
        height: 134px;
        width: 320px;
        padding-top: 26px;
    }
    .footer-top {
        margin-bottom: 30px;
    }
    .footer-top-left {
        margin-left: 10px;
    }
    .footer-top-right {
        margin-right: 10px;
    }
    .footer-bottom {
        width: 300px;
        margin-left: 10px;
    }
    .made-by {
        font-size: 12px;
        text-align: center;
        margin-top: 10px;
    }
}
